table {
  width: 92%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 4%;
  margin-right: 2%;
  background-color: rgb(30, 30, 40);
}

th {
  background-color: rgb(30, 30, 40);
  color: rgb(122, 139, 163);
  font-size: 18px;
  padding: 10px;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

td {
  border: 1px solid rgb(30, 30, 40);
  color: rgb(177, 177, 183);
  font-size: 16px;
  padding: 8px;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.country-select {
  width: 20%;
  background-color: rgb(30, 30, 40);
  color: rgb(177, 177, 183);
  border: 1px solid rgb(122, 139, 163);
  padding: 8px;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 8px;
  margin-left: 4.5%;
}

.edit-button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgb(63, 131, 249);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.edit-button:hover {
  background-color: rgb(63, 131, 249, 0.5);
}

.delete-button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgb(234, 73, 96);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.delete-button:hover {
  background-color: rgb(234, 73, 96, 0.5);
}

.topbar {
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbarIcon {
  height: 40px;
  margin-left: 10px;
}

.user-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  height: 30px;
  margin-left: 10px;
}

.menu-icon {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 10px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  z-index: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-menu p {
  margin: 0;
  cursor: pointer;
}

.add-button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(63, 131, 249);
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: rgb(63, 131, 249, 0.5);
}

.add-button-container {
  display: flex;
  justify-content: center;
}

.parameter-input {
  width: calc(100% - 16px);
  box-sizing: border-box;
  margin-bottom: 8px;
}

.description-input {
  width: calc(100% + 115px);
  box-sizing: border-box;
  margin-bottom: 8px;
}

input[type="text"] {
  background-color: rgb(30, 30, 40);
  color: rgb(177, 177, 183);
  border: 1px solid rgb(122, 139, 163);
  padding: 8px;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"]::placeholder {
  color: rgb(177, 177, 183);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(30, 30, 40);
    border-radius: 20px;
  }

  td {
    display: block;
    text-align: left;
    position: relative;
    padding-left: 130px;
    border: none;
  }

  td:not([data-label]) {
    padding-left: 0px;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
  }

  .description-input {
    width: calc(100%);
  }

  .parameter-input {
    width: calc(100%);
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  tr:last-child {
    border: rgb(30, 30, 40);
  }

  .country-select {
    width: 150px;
  }

  .topbarIcon {
    height: 50px;
  }

  .user-icon {
    height: 50px;
  }
}
